@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@layer utilities {
  /* Menyembunyikan scrollbar untuk Chrome, Safari, dan Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Menyembunyikan scrollbar untuk IE, Edge, dan Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

body {
  background: #f1d0db;
  background: linear-gradient(
    90deg,
    rgba(241, 208, 219, 1) 0%,
    rgba(237, 199, 213, 1) 35%,
    rgba(245, 188, 206, 1) 69%,
    rgba(241, 208, 219, 1) 100%
  );
  font-family: "Outfit", sans-serif;
  height: 100%;
  height: 100vh;
}
